# Arquivos compilados
target/
*.class
*.jar
*.war

# Arquivos de IDE (VS Code, Eclipse, IntelliJ)
.vscode/
.idea/
*.project
*.classpath
*.settings/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de log e banco de dados local
*.log
*.sql